body {
  /* height: 100%; */
  position: relative;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.set-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav */
.n {
  position: absolute;
}
.sud {
  height: 150px;
  width: 100%;
}

/* base */
.r {
  display: none;
}
.r-gl {
  display: none;
}
.content {
  padding: 60px 100px 0px;
}
.head-part {
  display: flex;
  align-items: center;
}
#arrow {
  width: 40px;
  height: auto;
  color: black;
}
.head {
  font-size: 100px !important;
  display: inline-block;
  color: #536400;
  margin: 0;
  font-weight: bolder;
}

.softgreen {
  background-color: #f2f3ee !important ;
}

.search {
  margin-bottom: 20px;
}
.s-contain {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
}
/* ----------------------- */

/* pagination */
.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.paginat-but {
  background-color: #536400;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  border: none;
}
/* ----------------------------- */

/* course */
.filter_but {
  height: 60px;
  width: 150px;
  margin-left: 10px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
#filter_s {
  background-color: #e78500;
}
#filter_t {
  background-color: #ffce00;
}
.course-paper {
  height: 50vh; /*แก้*/
  min-height: 350px;
  padding: 20px;
  overflow: auto;
}
.course-content {
  /* border: 1px solid black; */
}
/* -------------------- */

/* live */
.live-part {
  display: flex;
  justify-content: space-between;
}
.paper-size {
  width: 40vw;
  max-height: 500px;
  min-height: 250px;
}

/* -------------------- */

.content-v {
  padding: 80px 60px 0px;
}
.container-video {
  padding: 20px;
  position: relative;
}
.container-overflow {
  overflow: auto;
  width: auto;
  height: 60vh;
}
.container-overflow-s {
  overflow: auto;
  width: auto;
  height: 47vh;
}

/* video */
.head-video {
  font-size: 50px;
  color: black;
  margin: 0;
}
.description {
  font-size: 15px;
  width: 100%;
}
.for-video {
  width: 50vw;
  height: 60vh;
  background: gray;
}
.arrow {
  width: 40px;
  height: auto;
  color: black;
}
.hidden {
  display: none;
  color: green;
}
.inherit {
  display: inherit;
}

#errorLogin {
  color: red;
  position: absolute;
}
#dateTime {
  width: 200px;
}

.inp-box {
  background-color: white;
  border-radius: 0.5rem;
}
.containbut {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.dateTime {
  width: 200px;
}
.inputFile {
  margin: 23px 5px;
}
/* .fileContainer [type="file"] {
  border: 1px solid black;
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
}
.fileContainer {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  background: transparent;
  border-radius: 2rem;
  float: left;
  margin-top: 15px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  background-color: #536400;
  color: white;
} */

/* login */
.navhome {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.logged {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
}
.login-but {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #536400;
  flex-basis: 70px;
}
.login-name {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #536400;
  flex-basis: 70px;
}
.log-contain {
  display: flex;
  justify-content: flex-end;
}
.log-box {
  width: 300px;
  height: 180px;
  margin-right: 30px;
  background-color: #f2f3ee !important;
}
.login-form {
  padding: 40px 20px;
}
.i > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  float: right;
  width: 170px;
  background-color: transparent;
}
.i {
  margin-top: 10px;
}
#login-but {
  height: 35px;
  border-radius: 2rem;
  border: none;
  width: 90px;
  font-weight: 600;
  color: white;
  background-color: #536400;
  cursor: pointer;
  margin-top: 15px;
}

/* ---home--- */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
}

/* schedule */
.schedule {
  width: 40vw;
  max-height: 500px;
  min-height: 250px;
}
/* -------------- */

/* schedule live */
.schedule-live {
  background-color: #ffce00 !important ;
  scrollbar-color: black transparent;
}
.sub-schedule {
  margin-bottom: 40px;
  font-size: 15px;
  /* border-left: 2px solid black; */
  padding-left: 20px;
  padding-top: 10px;
}
#schedule {
  border-left: 1.5px solid black;
  margin-left: 15px;
}
#today {
  font-weight: 800;
  font-size: 20px;
  /* position: fixed; */
}

/*---------------- chat ----------------*/
.for-chat {
  width: 380px;
  height: 500px;
  background: #f2f3ee;
  display: flex;
  flex-direction: column;
}
.chat-area {
  height: 100%;
  overflow: auto;
}
.chat {
  padding: 180px 60px 0px;
}
.input-contain {
  background-color: #536400;
  height: 70px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input-chat {
  height: 40px;
  width: 300px;
  border-radius: 2rem;
  border: none;
}
.chat-send {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffce00;
}
.each-chat {
  display: flex;
  align-items: center;
  padding: 10px 0px 0px 10px;
}
.text-chat {
  margin: 5px;
  padding: 10px;
  min-width: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.name-chat {
  font-size: 17px;
  font-weight: 600;
  /* background-color: #ffce00; */
  text-transform: uppercase;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.time-chat {
  font-size: 10px;
}
.cp {
  columns: 2;
}

.tname {
  text-decoration: none;
  color: black;
}
.teacher-course {
  margin: 0px 0px 20px 10px;
  display: flex;
  align-items: center;
}
#tpic {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}
#Tpic {
  width: 80px;
  height: 80px;
  background-color: gray;
  border-radius: 50%;
  margin-right: 10px;
}
.subhead {
  font-size: 70px !important;
  display: inline-block;
  color: #ffce00;
  margin: 0;
  font-weight: bolder;
}

.testt {
  column-count: 3;
}
.none {
  display: none;
}
