@import url("https://fonts.googleapis.com/css?family=Kanit:400,600,700|Quicksand:400,500,600,700&display=swap");
.navhome {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.logged {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  margin-right: 30px;
}
.login-but {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #536400;
}
.login-name {
  font-size: 15px;
  font-weight: 600;
  color: #536400;
  flex-basis: 70px;
  margin-right: 30px;
}
.log-contain {
  display: flex;
  justify-content: flex-end;
}
.log-box {
  width: 300px;
  height: 180px;
  margin-right: 30px;
  background-color: #f2f3ee !important;
}
.login-form {
  padding: 40px 20px;
}
.i > input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid black;
  float: right;
  width: 170px;
  background-color: transparent;
}
.i {
  margin-top: 10px;
}
#login-but {
  height: 35px;
  border-radius: 2rem;
  border: none;
  width: 90px;
  font-weight: 600;
  color: white;
  background-color: #536400;
  cursor: pointer;
  margin-top: 15px;
}

#menu-but {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 60px;
  color: #536400;
}

#drawer {
  background-color: #536400;
  height: 100vh;
  display: flex;
  align-items: center;
}

.eachmenu {
  margin-bottom: 20px !important;
}

.list {
  font-family: "Quicksand", "Kanit", sans-serif !important;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

a {
  color: white;
}
