/* ipad pro */
@media only screen and (max-width: 1025px) {
  .r {
    display: none;
  }
  /* live */
  .live-part {
  }
  /* ---------- */
}
/* ipad */
@media only screen and (max-width: 768px) {
  .r {
    display: none;
  }
  .head {
    font-size: 70px !important;
  }
  .content {
    padding: 80px 0px 0px 50px;
  }
  /* course */
  .filter_but {
    height: 45px;
    width: 100px;
    font-size: 14px;
  }
  .course-paper {
    width: 80vw;
  }
  /* ---------- */
}
@media only screen and (max-width: 950px) {
  .r {
    display: none;
  }
  .filter_but {
    height: 50px;
    width: 15vw;
    font-size: 14px;
  }
}
/* iphone5 */
@media only screen and (max-width: 320px) {
}
/* iphone6 */
@media only screen and (max-width: 430px) {
  .none {
    display: initial;
  }
  .nor {
    display: none;
  }
  .content {
    padding: 80px 0px 0px 50px;
  }
  .head {
    font-size: 48px !important;
  }
  #arrow {
    width: 20px;
    height: auto;
    color: black;
  }

  /* course */
  .r-course-part {
    overflow: auto;
    max-height: 65vh;
    padding: 0px 50px 0px 0px;
    scrollbar-color: transparent transparent;
  }
  /* ------------- */

  /* live */
  .r-live-part {
    overflow: auto;
    height: 79vh;
    padding: 0px 50px 0px 0px;
    scrollbar-color: transparent transparent;
  }
  /* ---------- */
}
